@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Subtle warm gradient background */
body {
  background: linear-gradient(120deg, #fdfcfb 0%, #e2d1c3 100%); /* Light sand to soft beige */
  color: #333; /* Text color for readability */
}

a.active hr {
  display: block;
  background-color: #333; 
  height: 2px;
  width: 100%;
}

* {
  font-family: "Inter", sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-serif-regular {
  font-family: "Lora", serif; 
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px; 
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

@media (max-width: 640px) {
  a.active {
      background-color: #333; 
      color: #fff; 
      padding: 8px; 
      border-radius: 5px; 
  }
}
